#contenedorSuperior {

    color:white;
    background-color: #24c96e;
    padding-bottom: 100px;

}

body {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

p {
    margin-top: 30px;
}

ul {
    list-style-position: inside;
}

td:hover, th:hover {
  background: #343A40;
  color: white;
}

.seccion {
    /* height:30vh; */
    margin-top: 100px;
    /* text-align: center; */
}

/* Tabla de tenis.html */

.final {
    background-color: #fff72b;
}

.semifinal {
    background-color: #aaaaaa;
}

.cuartos {
    background-color: #ff982a;
}

/* Tabla de tenis.html */

@media screen and (max-width: 600px) {
    body {
        font-family: 'Playfair Display', serif;
        text-align: left;
    }

    ul {
        padding: 0;
    }

}
