#contenido {
    margin: 16px;
}

p {
    margin-top: 10px;
}

table {
    border-collapse: collapse;
}

/* Tabla de tenis.html */
.encabezadoTabla {
    background-color: #707070;
    color: white;
    border: 1px solid black;
}

.final {
    background-color: #fff72b;
    border: 1px solid black;
}

.semifinal {
    background-color: #aaaaaa;
    border: 1px solid black;
}

.cuartos {
    background-color: #ff982a;
    border: 1px solid black;
}

/* Tabla de tenis.html */
